html {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-size: 10px;
}

h1, h2, h3, h4, h5 {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.wrapper {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

h2 {
  font-family: "Forum", cursive;
  font-size: 4em;
  font-weight: 400;
  color: #0C0C0E;
  letter-spacing: 2px;
  text-align: center;
  line-height: 40px;
  position: relative;
  text-transform: capitalize;
}
h2::after {
  content: "";
  height: 1px;
  width: 50px;
  background-color: #0C0C0E;
  position: absolute;
  top: 60px;
  left: calc(50% - 25px);
}

section {
  padding-top: 20px;
  padding-bottom: 40px;
}

label {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #0C0C0E;
}
.header_container {
  display: flex;
  padding-top: 2em;
  padding-bottom: 2em;
  align-items: center;
}
.header_logo {
  margin-right: 32.43%;
}
.header_logo h1 {
  font-family: "Forum", cursive;
  font-size: 30px;
  font-weight: 400;
  color: #FFFFFF;
  letter-spacing: 0.02em;
  line-height: 50px;
}
.header_profile {
  width: 28px;
  height: 28px;
  margin-left: 2.85%;
  cursor: pointer;
}
.header_profile img {
  width: 100%;
  height: 100%;
}

.naviagtion {
  display: flex;
  align-items: center;
}
.naviagtion ul {
  display: flex;
  gap: 3em;
}
.naviagtion li {
  display: inline-block;
  font-family: "Inter", sans-serif;
  font-size: 2em;
  font-weight: 400;
  color: #FFFFFF;
}

.welcome {
  background-image: url(/library/images/content/Welcome.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 220px;
  padding-bottom: 160px;
}
.welcome_title {
  background-color: #0C0C0E;
  width: 41.67%;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 94px;
  padding-right: 120px;
  text-align: center;
}
.welcome_title h2 {
  font-family: "Forum", cursive;
  font-size: 4em;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 50px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.about_acordion_button {
  width: 26px;
  height: 16px;
  padding-left: 4px;
  cursor: pointer;
}
.about_acordion_button .button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #0C0C0E;
  cursor: pointer;
  border: none;
}
.about_acordion_button .button-active {
  background-color: #BB945F;
}

.about_text {
  font-family: "Inter", sans-serif;
  font-size: 2em;
  font-weight: 400;
  color: #000000;
  line-height: 4em;
  text-align: center;
  margin-top: 40px;
}
.about_acordion_container {
  display: flex;
  gap: 25px;
  margin-bottom: 40px;
}
.about_acordion_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about_acordion_item {
  width: 32.1%;
}
.about_acordion_item img {
  width: 100%;
}

.favorites_chose {
  padding-top: 60px;
}
.favorites_chose_title {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #000000;
  font-weight: 700;
  margin-bottom: 40px;
}
.favorites_chose_variants {
  padding-bottom: 40px;
}
.favorites_chose_variants label {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #000000;
  display: inline-block;
  margin-right: 90px;
}
.favorites_chose_variants input[type=radio] {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  transform: translateY(5px);
}
.favorites_chose_variants .custom-radio {
  position: relative;
  padding-left: 37px;
  cursor: pointer;
}
.favorites_chose_variants .custom-radio::before {
  content: "";
  border: 2px solid #000000;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  position: absolute;
  transform: translateY(5px);
  left: 0;
}
.favorites_chose_variants input[type=radio]:checked + .custom-radio::before {
  background-color: #000000;
  border-color: #000000;
}
.favorites_cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.favorites_cards_item {
  display: flex;
  border: 1px solid #000000;
  height: 555px;
  margin-right: 260px;
  margin-bottom: 40px;
}
.favorites_cards_item:nth-child(2n) {
  margin-right: 0;
}
.favorites_cards_item_content {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}
.favorites_cards_item_content h3 {
  font-family: "Forum", cursive;
  font-size: 20px;
  font-weight: 400;
  color: #000000;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  position: relative;
  margin-bottom: 20px;
}
.favorites_cards_item_content h3::after {
  content: "";
  width: 60px;
  height: 1px;
  background-color: #BB945F;
  position: absolute;
  left: 0;
  top: 39px;
}
.favorites_cards_item_content h4, .favorites_cards_item_content h5 {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #000000;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
}
.favorites_cards_item_content h4 {
  text-transform: uppercase;
}
.favorites_cards_item_content h5 {
  text-transform: capitalize;
  margin-bottom: 20px;
}
.favorites_cards_item_content p {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #000000;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  margin-right: 15px;
  margin-bottom: auto;
  width: 355px;
}
.favorites_cards_item_content_button {
  width: 75px;
  height: 30px;
  display: block;
  background: transparent;
  font-family: "Inter", sans-serif;
  font-size: 10px;
  font-weight: 400;
  color: #0C0C0E;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
}
.favorites_cards_item_image {
  display: flex;
  align-items: flex-end;
  margin-right: -40px;
}
.favorites_cards_item_image img {
  display: block;
}
.favorites .active {
  font-weight: 700;
}

/*# sourceMappingURL=main.css.map */
