html{
  box-sizing: border-box;
}
body{
  padding: 0;
  margin: 0;
  font-size: 10px;
}

h1,h2{
  padding: 0;
  margin: 0;
  font-size: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}


a {
  color: $main-light-color;
  text-decoration: none;
}
ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
}