.wrapper {
  max-width: $max-width;
  margin-left: auto; 
  margin-right: auto; 
  padding-left: 20px; 
  padding-right: 20px; 
  width: 100%; 
}

h2{
  @include font($title-font,4em,$title-darck-color);
  letter-spacing: 2px;
  text-align: center;
  line-height: 40px;
  position: relative;
  text-transform: capitalize;
  &::after{
   content: '';
   height: 1px;
   width: 50px;
   background-color: $title-darck-color;
   position: absolute;
   top:60px;
   left:calc(50% - 25px);
  }
}

section{
  padding-top: 20px;
  padding-bottom: 40px;
}
label{
  margin: 0;
  padding: 0;
}