.about{
  &_text{
    @include font($main-font,2em,$main-darck-color);
    line-height: 4em;
    text-align: center;
    margin-top: 40px;
  }
  &_acordion_container{
    display: flex;
    gap: 25px;
    margin-bottom: 40px;

  }
  &_acordion_buttons{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &_acordion_item{
    width: 32.1%;
    img{
      width: 100%;
    }
  }
}