$title-darck-color:#0C0C0E;
$main-light-color:#FFFFFF;
$main-darck-color:#000000;
$brand-color:#BB945F;


$max-width:1440px;

$title-font:'Forum', cursive;
$main-font:'Inter', sans-serif;

$logo-font-size:30px;
$line-height:50px;